body {
	background: url(wed.jpg) no-repeat center center;
	background-position: top;
	padding-top: 10%;
	text-align: left;
}


.navbar {
	
}

ul#dropdownMenu3 {
 	padding-top: 2%;
 }

.navbar-header {
	background: transparent;
}

ul#dropdown {
	color: #91C3E9;
}


.logo {
	float: center;
	padding-left: 10%;
}


.intro-message {
	text-align: left;
	
	padding-bottom: 10%;
	color: #fff;
}


.signup-form {
	color: #91C3E9;
	padding-top: 2%;
	padding-bottom: 10%;
	text-align: left;
	padding-left: 10%;
}


p {
	font-size: 18px;
	color: #F7ADB1;
	font-family: sans-serif;
	font: bold;
}

.our-features {
	padding-right: 20%;

}

p#feature-name {
	text-align: left;
	color: white;
	font-size: 14px;

}


ul#feature-list {
 	list-style-type: none;
 }

 


